@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

html, body, #__next {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: "rlig" 1, "calt" 1;
}

.container-page {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}


